@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #E63E21;
  --secondary: #333333;
  --font-geist-sans: "Geist Sans", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
  color-scheme: light;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

body {
  background: var(--background) !important;
  color: var(--foreground) !important;
  font-family: var(--font-sans);
  min-height: 100vh;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@layer base {
  html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* সাইড স্ক্রলিং বন্ধ করতে */
  }
}